.board {
  border: 1px solid;
  max-width: 90vw;
  overflow-x: scroll;
}

.board-title {
  align-items: center;
  background-color: var(--light-orange-bg);
  display: flex;
  font-weight: bold;
  height: var(--small-square-size);
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
}

.left-title-icon-div,
.right-title-icon-div {
  height: 100%;
  position: absolute;
}

.left-title-icon-div {
  display: flex;
  gap: 1rem;
  left: 1rem;
}

.right-title-icon-div {
  background-color: var(--light-orange-bg);
  height: 100%;
  right: 0;
}


