.instrument-section {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-height: 100%;
  margin: auto;
  min-width: 50%;
  width: 90%;
}

.selected-section.instrument-section {
  height: 80vh;
  left: 50%!important;
  position: absolute;
  transform: translate(-50%);
  width: 90vw;
  z-index: 1;
}

.minimized-section.instrument-section {
  bottom: var(--navbar-height);
  height: 4vh;
  min-width: unset;
  position: absolute;
  width: 25vw;
}

.instrument-section * {
  font-size: large;
}

.instrument-section .btn {
  background-color: var(--light-orange-bg);
  height: 100%;
}

.double-width-section {
  grid-column: 1 / 3;
}
