#main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button {
  cursor: pointer;
}

.btn {
  background: gainsboro;
  border: none;
  display: flex;
  height: 8vh;
  width: 8vh;
}

.btn .icon:hover {
  transform: scale(1.2);
}
