#main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#select-instruments {
  align-items: center;
  display: flex;
  margin: 1rem auto;
  width: 100%;
}

#select-instruments {
  background-color: orange;
  justify-content: space-evenly;
}

button {
  padding: 0.5rem 1rem;
}

#all-instruments {
  background-color: blue;
}

.board,
.track,
.square {
  border: 1px solid;
}

.board-title {
  text-align: center;
}

.track,
.track-squares {
  align-items: center;
  background-color: lightblue;
  display: flex;
  padding: 0.5rem;
  text-align: center;
}

.square {
  background-color: crimson;
  height: var(--square-size);
  opacity: 0.3;
  width: var(--square-size);
}

.square-selected {
  opacity: 1;
}

.square-active {
  background-color: white;
  opacity: 1;
}
