:root {
  --small-square-size: 5vh;
  --large-square-size: 10vh;
  --navbar-height: 10vh;
  --main-height: 80vh;
  --light-blue-bg: #59CEF7;
  --dark-blue-bg: #597FF7;
  --light-orange-bg: #f78259;
  --dark-orange-bg: #F55D28;
  --green-bg: #7FF759;
  --purple-bg: #D159F7;
}

* {
  box-sizing: border-box;
  font-family: roboto, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

#root {
  background: linear-gradient(
    to bottom,
    #9bc5c3,
    #616161
  );
	display: flex;
	height: 100vh;
	width: 100vw;
}

.tooltip .tooltiptext {
  background-color: #000;
  border-radius: 6px;
  color: #fff;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: fit-content;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.icon {
  cursor: pointer;
  height: 100%;
}

.hidden {
  display: none!important;
}

@font-face {
  font-family: 'roboto';
  src: url('../src/assets/fonts/Roboto-Thin.ttf');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('../src/assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('../src/assets/fonts/Roboto-Medium.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('../src/assets/fonts/Roboto-Bold.ttf');
  font-weight: 900;
  font-display: swap;
}
